html, body, #root, .main {
    height: 100%;
  }
  
  body {
    margin: 0;
  }
  
  .main {
    width: 100%;
  }
  
  .component-container {
    width: 100%;
    height: 100%;
  }
  
  .home {
    background: linear-gradient(to bottom, rgb(40, 70, 90) 0%, rgb(130 177 223) 100%);
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 1fr;
    padding:20px;
  
  }
  
  .home-buttons-panel {
    height:90%;
    display: grid;
    grid-template-rows: 120px 120px auto;
  }
  
  .home-menu-button {
    width: 80%;
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 8px;
    background-color: #e3eff6;
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .home-menu-button:hover{
    background-color: #f6eee3;
  }
  
  .home-menu-button:active{
    background-color: #e4b36f;
  }
  .home-item {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: large;
    font-family:sans-serif;
    align-self: end;
  }
  
  .home-camera-panel {
    display: flex;
  
    height:90%;
    width:100%;
  }
  
  /*Camera css */
  .camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    border: 1px solid #ccc;
    background-color: aliceblue;
    border-radius: 8px;
  }
  
  .camera-container video {
    height:100%;
    width:100%;
    object-fit: cover;
    text-align: center;
    border-radius: 8px;
  
  }
  
  .leaderboard {
    background: linear-gradient(to bottom, rgb(40, 70, 90) 0%, rgb(130 177 223) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leaderboard-title {
    position: absolute;
    top: 20px;
    font-size: 40px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .leaderboard-players-container {
    background-color: #21527b;
    border: 2px solid white;
    height: 80%;
    width: 60%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .leaderboard-player-container {
    border-bottom: 2px solid white;
    height: 100vh;
    display: grid;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    grid-template-columns: 50px 1fr 1fr;
    place-items: center;
  }
  
  .leaderboard-player-container:last-child {
    border-bottom: none;
  }
  
  .leaderboard-place {
    font-size: 40px;
    font-weight: bold;
  }
  
  .leaderboard-name, .leaderboard-score {
    font-size: 30px;
  }
  
.leaderboard-title {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.leaderboard-players-container {
  background-color: #21527b;
  border: 2px solid white;
  height: 80%;
  width: 60%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leaderboard-player-container {
  border-bottom: 2px solid white;
  height: 100vh;
  display: grid;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px;
  grid-template-columns: 50px 1fr 1fr;
  place-items: center;
}

.leaderboard-player-container:last-child {
  border-bottom: none;
}

.leaderboard-place {
  font-size: 40px;
  font-weight: bold;
}

.leaderboard-name, .leaderboard-score {
  font-size: 30px;
}

.leaderboard-pfp {
  height: 100px;
}

.play-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #6e6b6b;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.top-box {
  flex: 1;
  height: 105px;
  margin: 5px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.top-box:first-child {
  flex: 0.75;
}

.top-box:nth-child(2), 
.top-box:nth-child(3) {
  flex: 1.25;
}

.main-section {
  display: flex;
  flex: 1;
  gap: 10px;
}

.score-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 575px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.score-box {
  width: 350px;
  height: 150px;
  background-color: #f7f7f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.skip-button {
  width: 100%; 
  padding: 30px;
  font-size: 25px;
  background-color: #3392ea; 
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.skip-button:hover {
  background-color: #739ed2;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.timer-label {
  font-size: 18px; 
  font-weight: bold;
  color: #100f0f;
}

.timer-count {
  font-size: 68px;
  font-weight: bold;
  color: #0d0d0d; 
}

.skip-count {
  font-size: 35px;
  font-weight: bold;
  color: #0a0a0a;
  margin-top: 10px;
  text-align: center;
}

.camera-box {
  flex: 3;
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.reset-timer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.reset-timer-label {
  font-size: 24px;
  color: #2c2b2b;
}

.reset-timer-count {
  font-size: 28px;
  font-weight: bold;
  color: #222323;
  margin-top: 5px; 
}

/* Join Room Overlay css */
.join-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.join-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
}

.join-modal-content {
  position: relative;
  background-color: #60495A;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.join-title{
  top: 10px;
  font-size: 30px;
  color: #EFF6EE;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.join-input[type="text"] {
  background-color: #9197AE;
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid #9197AE;
  border-radius: 2.5px;
  font-size: 1rem;
  box-sizing: border-box;
}


.join-button-play {
  background-color: #F02D3A; 
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem 0 0;
  border: none;
  border-radius: 2.5px;
  color: #EFF6EE;
}

.join-button-play:hover {
  background-color: #C50122;
}


.join-close-modal {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #EFF6EE;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.join-close-modal:hover {
  color: #DD0428;
}

.join-error-message {
  color: #DD0428;
  background-color: #EFF6EE;
  padding: 8px 12px;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}


/*create game settings page*/

.create-game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.create-container {
  border: 2px solid white;
  height: 70%;
  width: 50%;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 100px 1fr;
  margin-top: 60px;
}

.create-title {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background: white;
}
.create-settings {
  padding: 30px;
}

.create-settings label {
  display: inline-block;
  width: 150px;
  font-size: 25px;
}

.create-button-container {
  width: 80%;
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.create-button-container button {
  width: 15%;
  height: 60px;
  border-radius: 15px;
  background-color: #e3eff6;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.create-button-container button:hover{
  background-color: #f6eee3;
}

.create-button-container button:active{
  background-color: #e4b36f;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #38dfdc;
}

.settings-card {
  width: 28rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

.settings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.settings-item label {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
}

.settings-item input[type="range"],
.settings-item select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #403a3a;
  border-radius: 4px;
}

.credits-text {
  font-size: 1rem;
  color: #6b7280;
}

.ui-slider {
  accent-color: #e62525;
}

.music-slider {
  accent-color: #e42424;
}

