html {
  background-color: #194A7A;
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}


:root {
  --dark-blue: #194A7A;
  --less-dark-blue: #476F95;
  --light-blue: #7593af;
  --double-light-blue: #A3B7CA;
  --l-l-l-blue: #D1DBE4;
}
.login-container {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--dark-blue);
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
  margin-bottom: 10%;
  padding: 20px;
  border-radius: 15px;
}

.login-container > input {
  height: auto;
  font-size: 1.2em;
  font-weight: 900;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-button {
  height: auto;
  background-color: #2A9d8F;
  border: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 0 #0000002b;
  font-size: 2em;
  border-radius: 15px;
  padding: 5px;
}

.login-button-play:hover {
  background-color: #0f5a51;
  color: lightgray;
}

.login-button-play:active {
  background-color: #2A9d8F;
  color: rgb(197, 157, 27);
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
.login-button{
  width: 48%;
}
